 
<div class="container" id="countriesApp" ng-controller="countryCtrl">
        <div class="row  ">
            
            <div class="col-12">
                <h1 class="my-4 py-2  font-italic">
                    Countries were women have less rights
                </h1>
            </div>
            
            <div class="col-12">
                <img class=" d-block mx-auto mb-4" src="img/worldwide.png" alt="" width="72" height="72">
            </div>
            
            <div class="py-3"></div>
        </div>

        <div class="row country-animation" >
           
             <div class="inherit">
                <div ng-repeat="x in country3" class="col-sm-4  portfolio-item">
                   
                        <div class="card h-100">
                                
                                <img  class="card-img-top" ng-src="{{x.img}}" alt="">
                                <div class="card-body ">
                                  <h4 class="card-title">
                                    {{x.name}}
                                  </h4>
                                  <p class="card-text">{{x.message}}</p>
                                </div>
                        </div>
                        <br>
                    </div>
            </div>
        
            <br>
            
            <div class="inherit" >
                    <div ng-repeat="x in country6" class="col-sm-4 portfolio-item">
                       
                            <div class="card h-100">
                                    <img id="#showmessage" class="card-img-top" ng-src="{{x.img}}" alt="">
                                    <div class="card-body " id="#holdmessage" >
                                      <h4 class="card-title">
                                        {{x.name}}
                                      </h4>
                                      <p class="card-text">{{x.message}}</p>
                                    </div>
                                  </div>
                                  <br>
                        </div>
                </div> 
            
        </div>
        <!-- /.row -->
    
       
    
      </div>

      